<h1>URL Shortener</h1>

<%= form_with model: Link.new do |form| %>
  <div class="flex gap-2 items-center">
    <%= form.url_field :url, required: true, placeholder: "https://example.com", class: "flex-grow rounded" %>
    <%= form.submit "Save", class: "px-3 py-2 bg-blue-300 rounded" %>
  </div>
<% end %>

<%= render @links %>
